BOT_API_KEY: Bot api key taken from botfather
DEVICE_CONTROL_PORT= Port number for the tls server that would be called by devices
SERVER_ADDR_NAME=Local dev only needed for the mock client to work
SERVER_PORT=same as above
