BOT_API_KEY: Bot api key taken from botfather
DEVICE_CONTROL_PORT= Port number for the tls server that would be called by devices
LOCAL_DEVICE_CONTROL_PORT=Local port forward port to expose tcp server to
SERVER_ADDR_NAME=Local dev only needed for the mock client to work
